@import url('https://fonts.googleapis.com/css?family=Roboto:500,700');

body{
  font-family: 'Robot', sans-serif;
  background-color: #383838;
  color: #bdbdbd;
}

h2{
  font-weight: bold;
}

.missionBtn{
  margin-bottom: 2em;
}

.startMissionBtn{
  height: 3.5em !important;
}

/* mission page */

.nav{
  margin-top: 1em;
}

.titleBlock{
  text-align: center;
}

#missionTitle{
  font-weight: bold;
  font-size: 2em;
}

.sectionTitle{
  font-weight: bold;
}

.carousel-item{
  background-color: #3a5775;
}

.collection{
  border: none;
}

.collection-item{
  background-color: transparent!important;
}

.missionList{
  font-size: .9em;
  text-align: justify;
}

.listBorder{
  margin: 1.5em 0 1.5em 0;
  background-color: lightgrey;
}